#################################### Python ###################################

### Cache & Temporary Files ###
**/__pycache__/

### Virtual Environments ###
**/.venv/
**/.test_venv/

# Distribution / packaging
build/
dist/
eggs/
.eggs/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
